@model PhysicianPortal.Web.Models.ResetUserPasswordViewModel
@{
    ViewBag.Title = "Reset User Password";
    Layout = null;
}

<fieldset>
    <legend>Reset User Password</legend>

    @*@using (Html.BeginForm("ResetUserPassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))*@
    @using (Ajax.BeginForm("ResetUserPassword", "Admin", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onResetUserPasswordSuccess" },
        new { @class = "form-horizontal", role = "form", id = "formResetUserPassword" }))
    {
        @Html.HiddenFor(m => m.UserId)
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger validation-summary" })
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label box-sizing-border-box" })
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 box-sizing-border-box">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", style = "max-width: none;" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label box-sizing-border-box" })
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 box-sizing-border-box">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", style = "max-width: none;" })
            </div>
        </div>
        <div class="form-group">
            @*<div class="col-md-offset-2 col-md-10 box-sizing-border-box">
                    <input type="submit" value="Set password" class="btn btn-default" />
                </div>*@
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-sizing-border-box text-align-center">
                @*<input type="submit" value="Reset" class="btn btn-primary" />*@
                <input class="btn btn-primary" type="button" onclick="resetUserPasswordFunc(); return false;" value="Reset" />
            </div>
        </div>
    }
</fieldset>

<script type="text/javascript">
    function onResetUserPasswordSuccess(arg) {
        if (arg.success) {
            $.notifyBar({ html: arg.message, cssClass: 'success', position: 'top' });
            $("#ResetUserPasswordWindow").data("kendoWindow").close();
        }
        else {
            $.notifyBar({ html: arg.message, cssClass: 'error', position: 'top' });
        }
    }

    function resetUserPasswordFunc() {
        debugger;
        var userForm = $("#formResetUserPassword");
        var validator = userForm.kendoValidator().data("kendoValidator");
        var status = $(".validation-summary");

        var newPassword = $("#NewPassword").val();
        var confirmPassword = $("#ConfirmPassword").val();

        if (newPassword !== confirmPassword) {
            status.text("New password does not match with confirm password")
                .removeClass("valid")
                .addClass("invalid");
        } else if (validator.validate() && newPassword === confirmPassword) {
            status.text("Password Reset Successfully")
                .removeClass("invalid")
                .addClass("valid");
            userForm.submit();
        }
        else {
            status.text("Please enter valid data in the fields")
                .removeClass("valid")
                .addClass("invalid");
        }
    }
</script>