@using PhysicianPortal.Web.Models
@model RefFormOncology_1ViewModel
@{
    ViewBag.Title = "PediatricGastroenterology Referral Form";
    Layout = null;
}

@using (Ajax.BeginForm("OncologyReferralForm_1", "Patients", new AjaxOptions { OnSuccess = "OnSuccessReferralForm", OnFailure = "OnFailureReferralForm" }, new { @class = "ReferralForm display-inline-block form-style", @id = "OncologyForm1" }))
{
    @Html.HiddenFor(m => m.PhysicianPortalPatientId)
    @Html.HiddenFor(m => m.ReferralFormId)
    @Html.HiddenFor(m => m.RefFormOncologyId)
    @Html.HiddenFor(m => m.IsSignatured)

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding-bottom10px buttonsDiv">
        <button class="btn btn-primary" onclick="ReferralFormSave(); return false;" type="button">Save</button>
        <button class="btn btn-danger" type="button" onclick="$('#divReferralForm').html(''); return false;">Cancel</button>

        @if (User.IsInRole("Physician")) { if (!ViewBag.IsHaveSignature)
        {
        <input class="btn btn-primary" disabled type="button" onclick="GetSignature();" value="Sign It" />
        <span>Please add your signature into your account</span>
        }
        else
        {
        <input class="btn btn-primary" type="button" onclick="GetSignature();" value="Sign It" />} } else { <input class="btn btn-primary" type="button" onclick="GetSignature();" value="Sign It" />
        }
        <button type="button" onclick="printButtonPressed('#OncologyForm1');" class="btn btn-primary login-form-field">Print</button>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block" style="padding-bottom: 5px;">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 padding0 visible-lg visible-md visible-sm display-inline-block kroger-logo-container">
            <img class="kroger-logo-class" alt="@System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName3"].ToString() Logo" src="~/Content/images/KrogerLogo.png" style="width: 100%;" />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 text-center">
                <span class="color2">SPECIALTY PHARMACY</span>
            </div>
        </div>
        <div class="col-xs-12 padding0 visible-xs text-center display-inline-block kroger-logo-container-xs">
            <img class="kroger-logo-class" alt="@System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName3"].ToString() Logo" src="~/Content/images/KrogerLogo.png" style="width: 35%;" />
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 text-center">
                <span class="color2">SPECIALTY PHARMACY</span>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 padding0 display-inline-block">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0">
                <h1 class="pull-right color2" style="font-weight: 600; line-height: 37px;">CELGENE-NINLARO</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0">
                <span class="pull-right">
                    <span class="color1">Lake Mary, FL</span> <span class="color2">toll free</span> 855.733.3126 <span class="color2">toll free fax</span> 888.315.3270
                </span>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block form-group padding0">
                <h3 class="pull-right color2" style="margin: 0;">@System.Web.Configuration.WebConfigurationManager.AppSettings["ClientNameWeb"].ToString()</h3>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0" style="padding-bottom: 5px;">
                <div class="color3" style="height: 5px;"></div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0">
                <label class="control-label">DATE: </label>
                @Html.TextBoxFor(m => m.FormDate, "{0:MM/dd/yyyy}", new { @class = "max-width-110px dateclass" })

                <label class="control-label">NEEDS BY DATE: </label>
                @Html.TextBoxFor(m => m.FormNeedsByDate, "{0:MM/dd/yyyy}", new { @class = "max-width-110px dateclass" })

                <label class="control-label"><b>SHIP TO: </b></label>

                <div class="checkbox-inline">
                    <label>
                        @Html.CheckBox("ChkBox_ShipToPatient")
                        PATIENT
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.CheckBox("ChkBox_ShipToOffice")
                        OFFICE
                    </label>
                </div>
                <div class="checkbox-inline">
                    <label>
                        @Html.CheckBox("ChkBox_ShipToOther")
                        OTHER
                    </label>
                    @Html.TextBoxFor(m => m.TxtBox_ShipToOther)
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0" style="padding-top: 5px;">
                <div class="color3" style="height: 5px;"></div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0 patient-prescriber">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h4 class="heading1">PATIENT INFO</h4>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding10px" style="border: 1px black solid;">
                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Patient Name</label>
                @Html.TextBoxFor(m => m.PatientFullName, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" })

                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Address</label>
                @Html.TextBoxFor(m => m.PatientAddressLine1, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" })

                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">City, State, Zip</label>
                @Html.TextBoxFor(m => m.PatientCity_StateProvince_PostalCode, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" })

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-left0">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Main Phone</label>
                    @Html.TextBoxFor(m => m.PatientPhoneNumber, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 phoneNumberClass" })
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-right0">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Alternate Phone</label>
                    <input class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" type="text" />
                </div>

                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Social Security #</label>
                <input class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" type="text" />

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-left0">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Date of Birth</label>
                    @Html.TextBoxFor(m => m.PatientDateOfBirth, "{0:MM/dd/yyyy}", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" })
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-right0">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Gender</label>
                    <div class="radio-inline">
                        <label>
                            @Html.RadioButtonFor(m => m.PatientGender, "M")
                            Male
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            @Html.RadioButtonFor(m => m.PatientGender, "F")
                            Female
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h4 class="heading1">PRESCRIBER INFO</h4>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding10px" style="border: 1px black solid;">
                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Prescriber Name</label>
                @Html.TextBoxFor(m => m.PhysicianFullName, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" })

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 display-inline-block padding-left0">
                        <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">DEA #</label>
                        @Html.TextBoxFor(m => m.PhysicianDrugEnforcementAdministrationNumber, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 display-inline-block padding-left0">
                        <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">NPI #</label>
                        @Html.TextBoxFor(m => m.PhysicianNationalProviderIdentifier, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" })
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 display-inline-block padding0">
                        <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">License #</label>
                        @Html.TextBoxFor(m => m.PhysicianPhysicianLicenseNumber, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" })
                    </div>
                </div>

                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Address</label>
                @Html.TextBoxFor(m => m.PhysicianAddressLine1, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" })

                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">City, State, Zip</label>
                @Html.TextBoxFor(m => m.PhysicianCity_StateProvince_PostalCode, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" })

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-left0">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Phone</label>
                    @Html.TextBoxFor(m => m.PhysicianPhoneNumber, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 phoneNumberClass" })
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 padding-right0">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Fax</label>
                    @Html.TextBoxFor(m => m.PhysicianFaxNumber, "", new { @class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0 phoneNumberClass" })
                </div>

                <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Contact Person</label>
                <input class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" type="text" />
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block">
        @if (Model.ReferralFormId == 10)
        {
        <h4 class="heading2">
            <b class="font-weight800">INSURANCE: </b>
            PLEASE FAX COPY OF PRESCRIPTION CARD &amp; MEDICAL CARD FRONT &amp; BACK
        </h4>
        }
        @if (Model.ReferralFormId == 37)
        {
        <h4 class="heading2yellow">
            <b class="font-weight800">PLEASE FAX COPY OF: </b>

            <input type="checkbox" value="">
            @*@Html.CheckBoxFor(m => m.ChkBox_PRESCRIPTION_600mgAMand600mgPM2)*@
            PRESCRIPTION CARD FRONT & BACK




            <input type="checkbox" value="">
            @*@Html.CheckBoxFor(m => m.ChkBox_PRESCRIPTION_600mgAMand400mgPM2)*@
            CLINICAL NOTES



            <input type="checkbox" value="">
            @*@Html.CheckBoxFor(m => m.ChkBox_PRESCRIPTION_600mgAMand400mgPM2)*@
            MEDICAL CARD FRONT & BACK


        </h4>
        }
    </div>

    <div id="ClinicalInfoContainer">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block">
            <h4 class="heading1">CLINICAL INFORMATION</h4>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding-top">
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 display-inline-block padding0">
                <b>Diagnosis:</b>
                <div class="display-inline-block">
                    @*<input type="text" style="width: 833px;" />*@
                    @Html.TextBoxFor(m => m.Diagnosis_TxtBox, new { @style = " width: 833px;", @type = "text" })
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block padding0">
                <b>(ICD-10):</b>
                <div class="display-inline-block">
                    @*<input type="text" style="width: 115px;" />*@
                    @Html.TextBoxFor(m => m.ICD_10_TxtBox, new { @style = " width: 115px;", @type = "text" })
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding-top">
            <div style="text-align: center;"><em>Please Attach Supporting Labs and Provide Medication List </em></div>
            <b>Drug Allergies:</b>
            <div class="display-inline-block">
                @*<input type="text" style="width: 1000px;" />*@
                @Html.TextBoxFor(m => m.DrugAllergies_TxtBox, new { @style = " width: 1000px;", @type = "text" })
            </div>

        </div>
    </div>

    <div id="PrescriptionInfoContainer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0">
                    <h4 class="heading1">PRESCRIPTION INFORMATION</h4>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 display-inline-block border-right2px border-blue padding-top-bottom15px-left-right0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block padding-left0">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_Thalomid)
                                    Thalomid®
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_50mg)
                                    50mg
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_100mg)
                                    100mg
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_150mg)
                                    150mg
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 display-inline-block">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_200mg)
                                    200mg
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 display-inline-block padding-left0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                            <span style="padding-left:20px;">Sig:</span>
                        </div>
                        <div class="checkbox">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_Take1capPOdaily1)
                                Take 1 cap PO daily
                            </span>
                        </div>
                        <div class="checkbox">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_Empty1)
                                @*<input type="text" style="width: 100%" />*@
                                @Html.TextBoxFor(m => m.Empty1_TxtBox, new { @style = " width: 100%;", @type = "text" })
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 display-inline-block padding0">
                        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">Supplied in blister packs of 28 caps</span>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 display-inline-block padding0">
                            Qty: 28
                            <br />
                            Qty:
                            @*<input type="text" class="width50px" />*@
                            @Html.TextBoxFor(m => m.Qty_TxtBox1, new { @class = " width50px", @type = "text" })
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 display-inline-block padding0">
                            No Refills
                            <br />
                            No Refills
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 display-inline-block border-bottom2px-dotted">
                    <p>Indicate Type From PPAF (Check one)</p>
                    <div class="display-inline-block">
                        <div class="checkbox-inline">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_AdultFemale)
                                Adult Female - Reproductive Potential (FRP)
                            </span>
                        </div>
                    </div>
                    <div class="display-inline-block">
                        <div class="checkbox-inline">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_AdultFemaleNOT)
                                Adult Female - NOT of Reproductive Potential (FNRP)
                            </span>
                        </div>
                    </div>
                    <div class="display-inline-block">
                        <div class="checkbox-inline">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_AdultMale)
                                Adult Male
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 display-inline-block border-right2px border-blue padding-top-bottom15px-left-right0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block padding-left0">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_Pomalyst)
                                    Pomalyst®
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_1mg)
                                    1mg
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_2mg)
                                    2mg
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_3mg)
                                    3mg
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 display-inline-block">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_4mg)
                                    4mg
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 display-inline-block padding-left0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                            <span style="padding-left:20px;">Sig:</span>
                        </div>
                        <div class="checkbox">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_Take1capPOdailydays1_21of28daycycle1)
                                Take 1 cap PO daily, days 1-21 of 28 day cycle
                            </span>
                        </div>
                        <div class="checkbox">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_Empty2)
                                @*<input type="text" style="width: 100%" />*@
                                @Html.TextBoxFor(m => m.Empty2_TxtBox, new { @style = " width: 100%;", @type = "text" })
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 display-inline-block padding0">
                        <br />
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 display-inline-block padding0">
                            Qty: 21
                            <br />
                            Qty:
                            @*<input type="text" class="width50px" />*@
                            @Html.TextBoxFor(m => m.Qty_TxtBox2, new { @class = " width50px", @type = "text" })
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 display-inline-block padding0">
                            No Refills
                            <br />
                            No Refills
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 display-inline-block border-blue">
                    <div class="display-inline-block">
                        <div class="checkbox-inline">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_FemaleChild)
                                Female Child - Reproductive Potential (FRP)
                            </span>
                        </div>
                    </div>
                    <div class="display-inline-block">
                        <div class="checkbox-inline">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_FemaleChildNOT)
                                Female Child - NOT of Reproductive Potential (FNRP)
                            </span>
                        </div>
                    </div>
                    <div class="display-inline-block">
                        <div class="checkbox-inline">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_MaleChild)
                                Male Child
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 display-inline-block border-right2px border-blue  padding-bottom36px" style="margin-left:-16px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block padding-left0">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_Revlimid)
                                    Revlimid®
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 display-inline-block padding-left0">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                                <div class="checkbox-inline">
                                    <span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.CheckBoxFor(m => m.ChkBox_2_5mg)
                                        2.5mg
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                                <div class="checkbox-inline">
                                    <span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.CheckBoxFor(m => m.ChkBox_5mg)
                                        5mg
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                                <div class="checkbox-inline">
                                    <span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.CheckBoxFor(m => m.ChkBox_10mg)
                                        10mg
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                                <div class="checkbox-inline">
                                    <span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.CheckBoxFor(m => m.ChkBox_15mg)
                                        15mg
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                                <div class="checkbox-inline">
                                    <span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.CheckBoxFor(m => m.ChkBox_20mg)
                                        20mg
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 display-inline-block">
                                <div class="checkbox-inline">
                                    <span>
                                        @*<input type="checkbox" value="">*@
                                        @Html.CheckBoxFor(m => m.ChkBox_25mg)
                                        25mg
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 display-inline-block padding-left0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                            <span style="padding-left:20px;">Sig:</span>
                        </div>
                        <div class="checkbox">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_Take1capPOdaily2)
                                Take 1 cap PO daily
                            </span>
                        </div>
                        <div class="checkbox">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_Take1capPOdailydays1_21of28daycycle2)
                                Take 1 cap PO daily, days 1-21 of 28 day cycle
                            </span>
                        </div>
                        <div class="checkbox">
                            <span>
                                @*<input type="checkbox" value="">*@
                                @Html.CheckBoxFor(m => m.ChkBox_Empty3)
                                @*<input type="text" style="width: 100%" />*@
                                @Html.TextBoxFor(m => m.Empty3_TxtBox, new { @style = " width: 100%;", @type = "text" })
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 display-inline-block padding0">
                        <br />
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 display-inline-block padding0">
                            Qty: 28
                            <br />
                            Qty: 21
                            <br />
                            Qty:
                            @*<input type="text" class="width50px" />*@
                            @Html.TextBoxFor(m => m.Qty_TxtBox3, new { @class = " width50px", @type = "text" })
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 display-inline-block padding0">
                            No Refills
                            <br />
                            No Refills
                            <br />
                            No Refills
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 display-inline-block border-bottom2px-dotted">
                    Authorization #:
                    @*<input type="text" value="" />*@
                    @Html.TextBoxFor(m => m.Authorization_TxtBox, new { @type = "text" })
                    <br />
                    Date:
                    @*<input type="text" value="" />*@
                    @Html.TextBoxFor(m => m.Date1_TxtBox, "{0:MM/dd/yyyy}", new { @class = "max-width-110px dateclass" })
                    <br />
                    <em>
                        (To be filled in by <u>heathcare provider</u>)
                        Authorization # is only valid for 30 days (7 days for FRP)
                    </em>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 display-inline-block border-blue">
                    Confirmation #:
                    @*<input type="text" value="" />*@
                    @Html.TextBoxFor(m => m.Confirmation_TxtBox, new { @type = "text" })
                    <br />
                    Date:
                    @*<input type="text" value="" />*@
                    @Html.TextBoxFor(m => m.Date2_TxtBox, "{0:MM/dd/yyyy}", new { @class = "max-width-110px dateclass" })
                    <br />
                    <em>
                        (To be filled in by <u>pharmacy</u>)
                    </em>

                </div>


                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 display-inline-block border-right2px border-blue padding-top-bottom15px-left-right0">


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 display-inline-block padding-left0">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_Ninlaro)
                                    Ninlaro®
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 display-inline-block padding-left0">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_4mg2)
                                    4mg
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_3mg2)
                                    3mg
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="checkbox-inline">
                                <span>
                                    @*<input type="checkbox" value="">*@
                                    @Html.CheckBoxFor(m => m.ChkBox_2_3mg)
                                    2.3mg
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0">
                        Sig:
                        <br />
                        Take 1 cap PO once a week, on the same day each week for the first 3 weeks of each cycle
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 display-inline-block padding0">
                        Take 1 hour before or 2 hours after food
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 display-inline-block">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            Qty: 3
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            @*<input class="width50px" type="text" />*@
                            @Html.TextBoxFor(m => m.Refills_TxtBox1, new { @class = " width50px", @type = "text" })
                            Refills
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 display-inline-block border-blue  padding0">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0 border-bottom2px-dotted ">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 display-inline-block">
                            @*<input type="checkbox" value="" />*@
                            @Html.CheckBoxFor(m => m.ChkBox_Dexamethasone)
                            Dexamethasone
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 display-inline-block">
                            Qty:
                            @*<input class="width50px" type="text" value="" />*@
                            @Html.TextBoxFor(m => m.Dexamethasone_Qty_TxtBox, new { @class = " width50px", @type = "text" })
                            @*<input class="width50px" type="text" value="" />*@
                            @Html.TextBoxFor(m => m.Dexamethasone_Refills_TxtBox, new { @class = " width50px", @type = "text" })
                            Refills:

                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0">
                            sign:
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0 padding-bottom10px  ">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 display-inline-block padding0 ">
                            @*<input type="checkbox" value="" />*@
                            c
                            @*<input class="width100px" type="text" value="" />*@
                            @Html.TextBoxFor(m => m.Empty4_TxtBox, new { @class = " width100px", @type = "text" })
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 display-inline-block">
                            Qty:
                            @*<input class="width50px" type="text" value="" />*@
                            @Html.TextBoxFor(m => m.Empty4_Qty_TxtBox, new { @class = " width50px", @type = "text" })
                            @*<input class="width50px" type="text" value="" />*@
                            @Html.TextBoxFor(m => m.Empty4_Refills_TxtBox, new { @class = " width50px", @type = "text" })
                            Refills:

                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0">
                            sign:
                        </div>
                        <br />
                        <br />
                        <br />


                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block padding0 padding-toponly border-bottom2px  ">
                    @*<input type="checkbox" value="" />*@
                    @Html.CheckBoxFor(m => m.ChkBox_Others)
                    Other:
                    @*<input class="textbox-full" type="text" value="" />*@
                    @Html.TextBoxFor(m => m.Others_TxtBox, new { @class = " textbox-full", @type = "text" })
                </div>

            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block">
                <p class="ft6">By signing this form and utilizing our services, you are authorizing @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName1"].ToString()<sup>TM</sup> and it’s employees to serve as your prior authorization designated agent in dealing with medical and prescription insurance companies.</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 display-inline-block padding-left0">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 display-inline-block padding0">
                        <img id="imgSignature1" src="" style="height: 60px; width: 250px; border: black 1px solid;" alt="Attach your signature">
                        &nbsp;
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 display-inline-block padding0">
                        @Html.TextBoxFor(m => m.Date1, "{0:MM/dd/yyyy}", new { @class = "max-width-110px dateclass", @readonly = "True" })
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 display-inline-block padding0 border-top1px-black-solid">
                        <b>Prescriber’s Signature</b> <span class="ft6">(no stamps)</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @if (Model.ReferralFormId == 10)
                {
                <b>Dispense As Written</b>
                }
                        @if (Model.ReferralFormId == 37)
                {
                <b>Substitution Permitted</b>
                }
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 display-inline-block border-top1px-black-solid text-center">
                        <b>Date</b>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 display-inline-block padding-right0">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 display-inline-block padding0">
                        <img id="imgSignature2" src="" style="height: 60px; width: 250px; border: black 1px solid;" alt="Attach your signature">
                        &nbsp;
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 display-inline-block padding0">
                        @Html.TextBoxFor(m => m.Date2, "{0:MM/dd/yyyy}", new { @class = "max-width-110px dateclass", @readonly = "True" })
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 display-inline-block padding0 border-top1px-black-solid">
                        <b>Prescriber’s Signature</b> <span class="ft6">(no stamps)</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        @if (Model.ReferralFormId == 10)
                {
                <b>Substitution Permitted</b>
                }
                        @if (Model.ReferralFormId == 37)
                {
                <b>Dispense As Written</b>
                }
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 display-inline-block border-top1px-black-solid text-center">
                        <b>Date</b>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block">
                <p class="ft6">
                    <b>IMPORTANT NOTICE:</b> This fax is intended to be delivered only to the named addressee. It contains material that is confidential, privileged property or exempt from disclosure under applicable law. If you are not the named addresses you should not disseminate, distribute or copy this fax. Please notify the sender immediately if you have received this document in error and then destroy this document immediately.
                </p>
            </div>
        </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display-inline-block buttonsDiv">
                <button class="btn btn-primary" onclick="ReferralFormSave(); return false;" type="button">Save</button>
                <button class="btn btn-danger" type="button" onclick="$('#divReferralForm').html(''); return false;">Cancel</button>

                @if (User.IsInRole("Physician")) { if (!ViewBag.IsHaveSignature)
        {
        <input class="btn btn-primary" disabled type="button" onclick="GetSignature();" value="Sign It" />
        <span>Please add your signature into your account</span>
        }
        else
        {
        <input class="btn btn-primary" type="button" onclick="GetSignature();" value="Sign It" />} } else { <input class="btn btn-primary" type="button" onclick="GetSignature();" value="Sign It" />
        }
                <button type="button" onclick="printButtonPressed('#OncologyForm1');" class="btn btn-primary login-form-field">Print</button>
            </div>
}