@using SalesTeam.Core.Data;
@using SalesTeam.Web.Models;
@{
    ViewBag.Title = "Patient Details";
    int salesTeamId = ViewBag.SalesTeamId;
    //int patientId = ViewBag.PatientId;
    int patientId = Model.PatientId;
    vwPhysician physicianModel = ViewBag.physicianModel;
    //vwSalesTeamPhysician physicianModel = ViewBag.physicianModel;
    vwPatient patientModel = Model;
    //var patientInsurances = ViewBag.insurances;
    SalesTeam.Core.Repository.UnitOfWork _unitOfWork = new SalesTeam.Core.Repository.UnitOfWork();

    List<vwPatientInsuranceModel> patientInsurances = new List<vwPatientInsuranceModel>();

    foreach (var patientInsurance in _unitOfWork.vwPatientInsurancesRepository.GetAsQuerable(t => t.PatientId == patientId))
    {
        vwPatientInsuranceModel _vwPatientInsuranceModel = new vwPatientInsuranceModel();

        _vwPatientInsuranceModel.InsuranceId = patientInsurance.InsuranceId;
        _vwPatientInsuranceModel.InsuranceName = patientInsurance.InsuranceName;
        _vwPatientInsuranceModel.InsuranceType = patientInsurance.InsuranceType;
        _vwPatientInsuranceModel.InsuranceLevelName = patientInsurance.InsuranceLevelName;
        _vwPatientInsuranceModel.LastUsedDate = patientInsurance.LastUsedDate;

        patientInsurances.Add(_vwPatientInsuranceModel);
    }
}

<h3>Patient Details</h3>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding0" style="display: inline-block;">
    <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px 6px 0;">
        <label>Full Name</label>
        <span>
            @Model.FullName
        </span>
    </div>
    <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px;">
        <label>Company</label>
        <span>
            @Model.CompanyName
        </span>
    </div>
    <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px;">
        <label>Phone Number</label>
        <span>
            @Model.PhoneNumber
        </span>
    </div>
    <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px;">
        <label>City</label>
        <span>
            @Model.City
        </span>
    </div>
    <div class="msls-label" style="float: left; min-width: 30px; padding: 6px 10px;">
        <label>Sales Representative Name</label>
        <span>
            @ViewBag.SalesRepresentativeFullName
            @*@physicianModel.SalesRepresentativeFullName*@
        </span>
    </div>
    <div class="msls-label" style="float: right; min-width: 30px; padding: 6px 10px;">
        <label></label>
        <span>
            <button class="btn btn-primary" onclick="ShowPDFFormsList(); return false;">PDF Forms</button>
        </span>
    </div>
</div>

<div id="insuranceKendoWindow"></div>

<div id="showPDFFormsListKendoWindow" style="display: none;">
    <div style="border: 1px solid #dddddd; border-width: 0 0 1px 0; min-height: 34px;">
        <p>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; display: inline-block; box-sizing: border-box;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="box-sizing:inherit;">
                    Select Category
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="box-sizing:inherit;">
                    @(Html.Kendo().DropDownList()
                      .Name("CategoryList")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .Events(e => e.Select("onSelectCategoryList").DataBound("onDataBoundCategoryList"))
                      //.Events(e => e.Change("change"))
                      .BindTo(ViewBag.GetReferralFormCategories)
                      .Value("1")
                      .HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; display: inline-block; box-sizing: border-box;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="box-sizing:inherit;">
                    Select PDF Form
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="box-sizing:inherit;">
                    @(Html.Kendo().DropDownList()
                      .Name("PDFFormList")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .AutoBind(false)
                      //.Events(e => e.DataBound("onDataBoundPDFFormList"))
                      //.Value("1")
                      .HtmlAttributes(new { style = "width: 100%;" })
                    )
                </div>
                <button type="button" class="btn btn-primary" onclick="fillPDFForm(); return false;">Preview</button>
                <button id="btnSendForm" type="button" class="btn btn-primary" onclick="showRefaxDocConfirmation(); return false;" style="display:none;">Send Form</button>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; display: inline-block; box-sizing: border-box;">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="box-sizing:inherit;">
                    Select Address
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="box-sizing:inherit;">
                    @(Html.Kendo().DropDownList()
                      .Name("PhysicianAddressList")
                      .DataTextField("CompleteAddress")
                      .DataValueField("PID")
                      //.Template(
                      //  "<div class=\"col-lg-12 col-md-12 col-sm-12 col-xs-12\" style=\"padding: 0; display: inline-block; box-sizing: border-box;\">" +
                      //      "<div class=\"col-lg-12 col-md-12 col-sm-12 col-xs-12\" style=\"box-sizing:inherit;\">#: data.AddressLine1 #</div>" +

                      //      "<div class=\"col-lg-6 col-md-6 col-sm-6 col-xs-6\" style=\"box-sizing:inherit;\">#: data.City #</div>" +
                      //      "<div class=\"col-lg-2 col-md-2 col-sm-2 col-xs-2\" style=\"box-sizing:inherit;\">#: data.StateProvince #</div>" +
                      //      "<div class=\"col-lg-4 col-md-4 col-sm-4 col-xs-4\" style=\"box-sizing:inherit;\">#: data.PostalCode #</div>" +

                      //      "<div class=\"col-lg-6 col-md-6 col-sm-6 col-xs-6\" style=\"box-sizing:inherit;\">#: data.PhoneNumber #</div>" +
                      //      "<div class=\"col-lg-6 col-md-6 col-sm-6 col-xs-6\" style=\"box-sizing:inherit;\">#: data.FaxNumber #</div>" +
                      //   "</div>"
                      // )
                      //.DataSource(dataSource => dataSource
                      //    .Read(read => read.Action("GetPhysicianAddressList", "ViewPatientDetails", new vwPhysicianAddress { PhysicianId = physicianModel.PhysicianId }))
                      //)
                      //.AutoBind(false)
                      .BindTo(ViewBag.GetPhysicianAddressList)
                      //.Value("1")
                      .HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>
            </div>

            <div id="divPDFFormViewer" style="text-align: center; padding: 15px;"></div>
        </p>
    </div>
</div>

<div>
    @(Html.Kendo().TabStrip()
    .Name("tabStrip")
            .HtmlAttributes(new { @class = "tabStripClass" })
    .Items(tabstrip =>
    {
        tabstrip.Add().Text("Patient Details")
        .HtmlAttributes(new { @class = "k-state-active tabStripTabs" })
        .Selected(true)
        .Content(@Html.Partial("_PatientDetails", @patientModel).ToHtmlString());

        tabstrip.Add().Text("Physician Details")
        .HtmlAttributes(new { @class = "tabStripTabs" })
        .Content(@Html.Partial("_PhysicianDetails", @physicianModel).ToHtmlString());

        //tabstrip.Add().Text("Physician Consent")
        //.HtmlAttributes(new { @class = "tabStripTabs" })
        //.Content(@Html.Partial("_PhysicianConsent", @physicianModel).ToHtmlString());
    })
    )
</div>

<h3 style="margin-top: 20px; margin-bottom: 10px;">Patient Insurances</h3>

<script type="text/x-kendo-tmpl" id="InsurancesListTemplate">
    <div class="insuranceCell msls-label">
        <label>#:InsuranceName#</label>
        <label>#:InsuranceType#</label>
        <div style="float:left;">
            <label>#:InsuranceLevelName#</label>
        </div>
        <div style="float:left; padding-left: 5px;">
            <label>#:LastUsedDateProp#</label>
        </div>
    </div>
</script>

<div class="demo-section k-content wide">

    @(Html.Kendo().ListView(patientInsurances)
        .Name("InsurancesListView")
        .TagName("div")
        .ClientTemplateId("InsurancesListTemplate")
        .DataSource(dataSource => dataSource
            .PageSize(20)
            .ServerOperation(false)
        )
    .Selectable()
    )
</div>

<script type="text/javascript">
    var data;

    $(document).ready(function () {
        $("#InsurancesListView").click(function (event) {

            var tempList = $("#InsurancesListView").data("kendoListView");
            data = tempList.dataItem(tempList.select());
            if (data != undefined) {
                getInsuranceDetailsView(data);
            }
        })
    });

    function getInsuranceDetailsView(arg) {

        $("#insuranceKendoWindow").kendoWindow({
            modal: true,
            width: "70%",
            height: "40%",
            maxWidth: 800,
            maxHeight: 400,
            minWidth: 300,
            minHeight: 300,
            title: "Patient Insurance Details",
            visible: false,
            actions: ["Close"],
            resizable: false,
            draggable: false,
            open: function (e) {
                $("body").css("overflow", "hidden");
            },
            close: function (e) {
                $("#InsurancesListView").data("kendoListView").clearSelection();
                $("body").css("overflow", "");
            }
        }).data("kendoWindow");

        $.ajax({
            url: '@Url.Action("ShowInsuranceInfo", "SalesTeamPatient")',
            data: { InsuranceID: arg.InsuranceId },
            cache: false,
            type: "POST",
            dataType: "html",
            beforeSend: function () {
                $("#loading-image").show();
            },
            success: function (data, textStatus, XMLHttpRequest) {
                if (data.hasOwnProperty("d")) {
                    data = data.d;
                }

                var dialog = $("#insuranceKendoWindow").data("kendoWindow");
                dialog.content(data);
                dialog.center();
                dialog.open();
            },
            error: function (xhr) {
                alert("An error occured: " + xhr.status + " " + xhr.statusText);
            }
        });
    }

    function ShowPDFFormsList() {
        $("#showPDFFormsListKendoWindow").kendoWindow({
            modal: true,
            width: "70%",
            height: "70%",
            maxWidth: 800,
            maxHeight: 600,
            minWidth: 300,
            minHeight: 300,
            title: "PDF Forms",
            visible: false,
            actions: ["Close"],
            resizable: false,
            draggable: false,
            open: function (e) {
                $("body").css("overflow", "hidden");
            },
            close: function (e) {
                $("body").css("overflow", "");
                $("#divPDFFormViewer").html("");
                $("#btnSendForm").css("display", "none");
            }
        })
        .data("kendoWindow")
        .center()
        .open();


        //$("#showPDFFormsListKendoWindow").kendoWindow({
        //    modal: true,
        //    width: 400,
        //    title: "PDF Forms",
        //    visible: false,
        //    resizable: false,
        //    draggable: false,
        //    close: function () {
        //        $(".open-button").show();
        //    },
        //    actions: ["Close"]
        //})
        //.data("kendoWindow")
        //.center()
        //.open();
    }

    function fillPDFForm() {
        var fileName = $("#PDFFormList").val();
        var faxNumber = $("#txtFaxNumberPDFForm").val();
        var emailAddress = $("#txtEmailAddressPDFForm").val();
        var pID = $("#PhysicianAddressList").val();

        var physicianAddress = $("#PhysicianAddressList").data("kendoDropDownList").dataItem();

        var request = {
            FileName: fileName,
            PatientId: "@patientModel.PatientId",
            PhysicianId: "@physicianModel.PhysicianId",
            DocumentPath: "",
            FaxNumber: faxNumber,
            Email: emailAddress,
            PID: pID
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("FillPDFForm", "SalesTeamPatient")',
            data: JSON.stringify(request),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {
                $("#loading-image").show();
            },
            success: function (data, textStatus, XMLHttpRequest) {
                if (data.hasOwnProperty("d")) {
                    data = data.d;
                }
                if (data.success == true) {
                    //$("#showPDFFormsListKendoWindow").data("kendoWindow").close();
                    //alert(data.message);
                    //console.log(data.message);

                    $("#hidDocPath").val(data.message);

                    filenamepdf = '@Url.Action("GetPatientDocumentsPDF", "SalesTeamPatient")' + '?fileName=' + encodeURI(data.message);
                    //filenamepdf = '@*@Url.Action("GetPatientDocumentsPDF", "SalesTeamPatient", new RouteValueDictionary(new { fileName = fileName }))*@';
                    //filenamepdf = '@*@Url.Action("GetPatientDocumentsPDF", "SalesTeamPatient", new RouteValueDictionary(new { fileName = Url.Content("~/Content/Images/nodejs_tutorial.pdf") }))*@';

                    var object = "<object data='{FileName}' type='application/pdf' style='width: 95%; height: 1000px;'>";
                    object += "If you are unable to view file, you can download from <a href = '{FileName}'>here</a>";
                    object += " or download <a target = '_blank' href = 'http://get.adobe.com/reader/'>Adobe PDF Reader</a> to view the file.";
                    object += "</object>";
                    object = object.replace(/{FileName}/g, filenamepdf);

                    $("#divPDFFormViewer").html(object);

                    //btnSendForm
                    $("#btnSendForm").css("display", "");

                    //$("#divPDFFormViewer").html(data.message);
                }
                else {
                    console.log(data.message);
                }
            },
            error: function (xhr) {
                alert("An error occured: " + xhr.status + " " + xhr.statusText);
            }
        });
    }

    function onSelectCategoryList(e) {
        var dataItem = this.dataItem(e.item.index());
        //console.log(dataItem.Value);
        getReferralForms(dataItem.Value);
    }

    function onDataBoundCategoryList(e) {
        //var dataItem = this.dataItem(e.item.index());
        //console.log(dataItem.Value);
        getReferralForms("1");
        //$("#CategoryList").data("kendoDropDownList").select(0);
    }

    function getReferralForms(referralFormCategoryId) {
        $.ajax({
            url: '@Url.Action("GetReferralForms", "ViewPatientDetails")',
            //data: { ReferralFormCategoryId: dataItem.Value },
            data: { ReferralFormCategoryId: referralFormCategoryId },
            cache: false,
            type: "POST",
            dataType: "json",
            beforeSend: function () {
                $("#loading-image").show();
            },
            success: function (data) {
                if (data.hasOwnProperty("d")) {
                    data = data.d;
                }
                if (data.success) {
                    var tempArray = [];
                    //= [{ Text: "", Value: "" }];
                    data.message.forEach(function (item) {
                        tempArray.push({ Text: item.Text, Value: item.Value });
                    });
                    var PDFFormList = $("#PDFFormList").data("kendoDropDownList");
                    PDFFormList.dataSource.data(tempArray);
                    PDFFormList.select(0);
                    $("#divPDFFormViewer").html("");
                    $("#btnSendForm").css("display", "none");
                }
            },
            error: function (xhr) {
                console.log("An error occured: " + xhr.status + " " + xhr.statusText);
            }
        });
    }
</script>

<div id="notesKendoWindow"></div>
<div id="prescriptionKendoWindow"></div>
<div style="margin: 10px 0px">
    @(Html.Kendo().TabStrip()
    .Name("tabStripNotes")
            .HtmlAttributes(new { @class = "tabStripClass" })
    .Items(tabstrip =>
    {
        //if (ViewBag.PhysicianConsent == 1)
        if (true)
        {
            tabstrip.Add().Text("Notes")
            .HtmlAttributes(new { @class = "k-state-active tabStripTabs" })
            .Selected(true)
            .Content(@Html.Partial("_PharmacyNotes", new vwPharmacyNote { PatientId = patientId }).ToHtmlString());

            tabstrip.Add().Text("Documents")
            .HtmlAttributes(new { @class = "tabStripTabs" })
            .Content(@Html.Partial("_PatientDocuments", new vwDocument { PatientId = patientId }).ToHtmlString());

            tabstrip.Add().Text("Prescriptions")
            .HtmlAttributes(new { @class = "tabStripTabs" })
            .Content(@Html.Partial("_PatientPrescription", new vwPrescription { PatientId = patientId }).ToHtmlString());

            tabstrip.Add().Text("My Notes")
            .HtmlAttributes(new { @class = "tabStripTabs" })
            .Content(@Html.Partial("_SalesTeamNotes", new vwSalesTeamNote { SalesTeamId = physicianModel.SalesTeamId, PhysicianId = physicianModel.PhysicianId, PatientId = patientId }).ToHtmlString());

            tabstrip.Add().Text("Hipaa Consent")
            .HtmlAttributes(new { @class = "tabStripTabs" })
            .Content(@Html.Partial("_HipaaConsent", new { PatientCode = Model.PatientCode }).ToHtmlString());//, new vwSalesTeamNote { PatientId = patientId }
        }
        else
        {
            tabstrip.Add().Text("Notes")
            .Enabled(false)
            .HtmlAttributes(new { @class = "tabStripTabs" })
            .Content(@Html.Partial("_PharmacyNotes", new vwPharmacyNote { PatientId = patientId }).ToHtmlString());

            tabstrip.Add().Text("Documents")
            .Enabled(false)
            .HtmlAttributes(new { @class = "tabStripTabs" })
            .Content(@Html.Partial("_PatientDocuments", new vwDocument { PatientId = patientId }).ToHtmlString());

            tabstrip.Add().Text("Prescriptions")
            .Enabled(false)
            .HtmlAttributes(new { @class = "tabStripTabs" })
            .Content(@Html.Partial("_PatientPrescription", new vwPrescription { PatientId = patientId }).ToHtmlString());

            tabstrip.Add().Text("My Notes")
            .Selected(true)
            .HtmlAttributes(new { @class = "k-state-active tabStripTabs" })
            .Content(@Html.Partial("_SalesTeamNotes", new vwSalesTeamNote { SalesTeamId = physicianModel.SalesTeamId, PhysicianId = physicianModel.PhysicianId, PatientId = patientId }).ToHtmlString());

            tabstrip.Add().Text("Hipaa Consent")
            .HtmlAttributes(new { @class = "tabStripTabs" })
            .Content(@Html.Partial("_HipaaConsent", new { PatientCode = Model.PatientCode }).ToHtmlString());//, new vwSalesTeamNote { PatientId = patientId }
        }


    })
    )
</div>

<input type="hidden" id="hidDocPath" value="" />
<input type="hidden" id="hidFaxNumber" value='@physicianModel.FaxNumber' />
<input type="hidden" id="hidPhysicianId" value='@physicianModel.PhysicianId' />

<div id="divRefaxDocConfirm" style="display: none;">
    <div style="border: 1px solid #dddddd; border-width: 0 0 1px 0; min-height: 34px;">
        <p>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            <span id="lblConfirm">
                You can also edit this given Fax Number.
            </span>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; display: inline-block; box-sizing: border-box;">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="box-sizing:inherit;">
                    Fax Number
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="box-sizing:inherit;">
                    <input id="idFaxNumber" type="text" value='@physicianModel.FaxNumber' />
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0; display: inline-block; box-sizing: border-box;">
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12" style="box-sizing:inherit;">
                    Email Address
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="box-sizing:inherit;">
                    <input id="txtEmailAddress" type="text" value='' />
                </div>
            </div>
        </p>
    </div>
    <div style="float: right;">
        <button class="btn btn-success" onclick="refaxDocument();" style="margin: .5em .4em .5em 0;">Save and Send</button>
        <button class="btn btn-default" onclick="cancelRefaxDocConfirmation();" style="margin: .5em .4em .5em 0;">Cancel</button>
    </div>
</div>

<div id="divPreviewDocument" style="display: none;">
    <div id="ajaxLoaderDoc" style="display: none; position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;">
        <img src="~/Content/Images/page_loader.gif" alt="loading" style="top: 45%; position: relative; left: 45%; width:10%; height:10%" />
    </div>
    <table style="width:100%">
        <tr style="margin: 5px 5px 5px 0; display: block;">
            <td style="width:15%">
                <div>
                    <input class="btn btn-default" type="button" style="width:200px" onclick="showRefaxDocConfirmation();" value="Refax This Document" />
                </div>
            </td>
            <td style="width:85%">&nbsp;</td>
        </tr>
        <tr>
            @*<td style="width:15%">&nbsp;</td>*@
            <td colspan="2" style="width:85%">
                <div id="divDocumentViewer" style="width:100%"> </div>
            </td>
        </tr>
    </table>
</div>

<style>
    #InsurancesListView {
        padding: 10px 5px;
        margin-bottom: -1px;
    }

    .insuranceCell {
        cursor: pointer;
        float: left;
        position: relative;
        width: 250px;
        height: auto;
        margin: 2px 5px;
        padding: 10px;
        border-style: solid;
        border-width: 2px;
        /*border-color: #428bca;*/
        border-color: #ccc;
    }

        .insuranceCell label {
            cursor: pointer;
        }

        /*.insuranceCell:hover {
            background-color: rgba(0,0,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }*/

        .insuranceCell:hover {
            /*background-color: rgba(0,0,0,0.75);*/
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
            color: black;
            /*background-color: lightblue;*/
            background-color: #ebebeb;
        }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>