@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = "Terms and Conditions";
}

<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row onePlacePush text-align-justify">
        <h2>
            @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName2"].ToString() Portal Terms and Conditions
        </h2>
        <div>
            Use of the @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName2"].ToString() Healthcare Patient Portal Web site ("Web site") is governed by the following terms and conditions.
            <br>
            <br>
            <b>Limited License</b>
            <br>
            @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName2"].ToString() Healthcare grants you a limited license as a visitor to this Web site to display on your computer, print, download, and use the underlying HTML, text, and other content (collectively, "Content") that is made available to you via this Web site, solely for your own noncommercial purposes. No other use of the Content of this Web site is permitted. We reserve the right to deny access to this Web Site to you at any time if you engage in prohibited activities.
            <br>
            <br>
            <b>Copyrights</b>
            <br>
            All Content appearing on this Web site is protected by copyright, with all rights reserved. All Content is the property of @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName2"].ToString() Healthcare or its suppliers, as applicable, and is protected by U.S. and international copyright and intellectual property laws and treaty provisions.
            <br>
            <br>
            <b>Email &amp; Phone Communications</b><br>
            We make every attempt to communicate valuable information. On a regular basis (sometimes weekly) @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName2"].ToString() Healthcare may contact you via email or phone to welcome you to the Web site, confirm an order, send a reminder, provide shipment notification, industry news, tips, enhancements to products and services, surveys, new product launches, or other content of value and interest to our registrants and users.
            <br>
            <br>
            <b>Indemnification</b>
            <br>
            You agree to indemnify @System.Web.Configuration.WebConfigurationManager.AppSettings["ClientName2"].ToString() Healthcare and its affiliates, employees, agents, representatives and third party service providers, and to defend and hold each of them harmless, from any and all claims and liabilities (including attorneys fees) which may arise from your submissions, from your unauthorized use of material obtained through the Service and / or Web site, or from your breach of this Agreement, or from any such acts through your use of the Service and / or Web site.
        </div>
    </div>
</div>