
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - My ASP.NET Application</title>*@
    <title>@ViewBag.Title - Physician Consent</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/kendoCss")
    @Scripts.Render("~/bundles/kendoJs")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/UserCustomization")

    <style type="text/css">
        body {
            height: 100%;
            width: 100%;
        }

            body div#loading-image {
                /*background-color: #fff;*/
                height: 100%;
                position: fixed;
                text-align: center;
                width: 100%;
                /*top: 150px;*/
                z-index: 99999;
            }

                body div#loading-image img {
                    margin-top: 20%;
                }
    </style>
</head>
<body>

    <div class="row header col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingLeftRight0" style="margin-top: 0px;">
        @{
            var url = Url.RouteUrl("Default", ((Route)RouteTable.Routes["Default"]).Defaults);
        }
        <div class="headerLogo col-lg-6 col-md-6 col-sm-6 col-xs-12 paddingLeftRight0">
            <a href='@url'>
                <img alt="" src="~/Content/Images/site-logo.png" />
            </a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 paddingLeftRight0">
            <div class="pull-left">
                @*<a href="@Url.Action("Index", "Feedback")" class="btn btn-primary pull-right">Feedback</a>*@
            </div>
        </div>
    </div>

    @*<div class="container body-content">*@
    <div class="body-content">
        <h2>Your response has been submitted. The requesting Physician will now be able to see your patients</h2>
    </div>


</body>
</html>






















