@{
    //ViewBag.Title = "Reset password confirmation";
    Layout = null;
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please, @Html.ActionLink(" click here to login into Your Physician Portal Account", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>*@

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body style="padding: 0px">
    <div class="login-backgroudImage">
    </div>
    <div id="loginContainer" class="loginPage">
        <br />
        <br />
        <div class="well" style="background-color: rgba(255, 255, 255, 0.7); margin-top:40%">
            @Html.AntiForgeryToken()
            <img src="~/Content/images/KrogerLogo.png" class="loginLogoImage" />
            <p class="text-center" style="color: #337ab7">SPECIALTY PHARMACY</p>
            <p class="text-center" style="color: #337ab7">EXPECT MORE FROM YOUR SPECIALTY PHARMACY</p>
            <h4 class="text-center">Password Reset Confirmed</h4>
            <br />
            <br />

            <div class="form-group">
                <p>
                    Your password has been reset. @Html.ActionLink("Please, click here to login into Physician Portal.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</body>
</html>

<style>
    .validation-summary-errors ul {
        list-style: none;
        margin-left: -40px;
    }
</style>

